.header, .main {
  width: 88%;
  margin: auto;
}

.menu {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.buttoms__but-input {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.buttoms__but {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.first__title {
  font: bold 29px/30px 'gotham_probold', arial, helvetica, sans-serif;
}

.first__link {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.product__title {
  font: bold 21px/22px 'gotham_probold', arial, helvetica, sans-serif;
}

.content-black__text {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.content-black__price {
  font: bold 13px/14px 'gotham_probold', arial, helvetica, sans-serif;
}

.content-camel__text  {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.content-camel__price {
  font: bold 13px/14px 'gotham_probold', arial, helvetica, sans-serif;
}

.content-smoke__text {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.content-smoke__price {
  font: bold 13px/14px 'gotham_probold', arial, helvetica, sans-serif;
}

.content-cloud__text {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.content-cloud__price {
  font: bold 13px/14px 'gotham_probold', arial, helvetica, sans-serif;
}

.content__title {
  font: bold 22px/27px 'gotham_probold', arial, helvetica, sans-serif;
}

.content__text {
  font: 14px/17px 'gotham_proregular', arial, helvetica, sans-serif;
}

.content__link {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.stories__title {
  font: bold 21px/22px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-anagoa__title {
  font: bold 17px/18px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-anagoa__text {
  font: 14px/17px 'gotham_proregular', arial, helvetica, sans-serif;
}

.story-anagoa__link {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-anagoa__data {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-flip__title {
  font: bold 17px/18px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-flip__text {
  font: 14px/17px 'gotham_proregular', arial, helvetica, sans-serif;
}

.story-flip__link {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-flip__data {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-baekkel__title {
  font: bold 17px/18px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-baekkel__text {
  font: 14px/17px 'gotham_proregular', arial, helvetica, sans-serif;
}

.story-baekkel__link {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.story-baekkel__data {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.fotos-link {
  font: bold 17px/18px 'gotham_probold', arial, helvetica, sans-serif;
}

.account-title {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.account-nav {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.service-title {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.service-nav {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.column-title {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}

.column-nav {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.net-title {
  font: bold 11px/12px 'gotham_probold', arial, helvetica, sans-serif;
}
.net-nav__link {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}

.net-nav__button {
  font: bold 10px/10px 'gotham_probold', arial, helvetica, sans-serif;
}

.footer-title {
  font: 11px/12px 'gotham_proregular', arial, helvetica, sans-serif;
}
